[submodule "apps/elysia"]
	path = apps/elysia
	url = https://github.com/MythEclipse/ultimate-asepharyana-tech-elysia.git
[submodule "apps/leptos"]
	path = apps/leptos
	url = https://github.com/MythEclipse/ultimate-asepharyana-tech-leptos.git
[submodule "apps/rust"]
	path = apps/rust
	url = https://github.com/MythEclipse/ultimate-asepharyana-tech-rust.git
[submodule "apps/solidjs"]
	path = apps/solidjs
	url = https://github.com/MythEclipse/ultimate-asepharyana-tech-solidjs.git
[submodule "apps/nextjs"]
	path = apps/nextjs
	url = https://github.com/MythEclipse/ultimate-asepharyana-tech-nextjs.git
[submodule "apps/rust-auth"]
	path = apps/rust-auth
	url = https://github.com/MythEclipse/ultimate-asepharyana-tech-rust-auth.git
